body {
    background-color: #f9f9f9;
    margin: 0;
    font-family: 'Arial', sans-serif;
    color: #333;
}

header {
    background-color: #fff;
    color: #000;
    padding: 40px 20px;
    text-align: center;
    border-bottom: 2px solid #eee;
}

header h1 {
    margin: 0;
    font-size: 40px;
    color: #000;
    font-weight: normal;
    margin-bottom: 10px;
}

nav a {
    margin: 5px 15px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover {
    color: #000;
    text-decoration: underline;
}

.loading {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10% 0;
}

.bloco {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 20px;
    padding: 0;
}

.bloco li {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    margin: 15px;
    width: calc(100% - 40px);
    max-width: 280px;
    height: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    position: relative;
}

.bloco li:hover {
    transform: translateY(-5px);
}

.bloco img {
    border-radius: 8px;
    width: 100%;
    height: 350px;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.bloco h2 {
    font-size: 21px;
    color: #000;
    margin: 10px 0 5px;
}

.bloco p {
    color: #777;
    margin: 5px 0;
    font-size: 14px;
    overflow: hidden;
    text-align: left;
    flex-grow: 1;
}

.precoBotao {
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 15px 20px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    width: 100%;
    margin-top: 10px;
}

.precoBotao:hover {
    background-color: #333;
    transition: 0.3s;
    transform: scale(1.05);
}

footer {
    background-color: #fff;
    color: #000;
    text-align: center;
    padding: 15px 0;
    border-top: 2px solid #eee;
    position: relative;
    margin-top: 20px;
}

@media (max-width: 768px) {
    header h1 {
        font-size: 32px;
    }

    .bloco li {
        width: calc(50% - 30px);
    }

    .precoBotao {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    header h1 {
        font-size: 24px;
    }

    .bloco li {
        width: 100%;
    }
}